@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --firstbg: #eee;
  --secondbg: #e0dfdf;
  --inputbg: #323846;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.bgdl {
  background-color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
  cursor: pointer;
  padding: 3px;
}

nav ul li:hover {
  color: #01f3f4;
  transition: 0.3s;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border-radius: 5px;
}

input:focus {
  outline: none;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  resize: none;
}

#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

.active {
  color: #01f3f4;
}

.cahnge button:hover {
  color: #01f3f4;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.imgview {
  filter: drop-shadow(0 0 2em #01f3f4);
}

.icon-glow:hover {
  filter: drop-shadow(0 0 2em #01f3f4);
}

@keyframes waveGlow {

  0%,
  100% {
    filter: drop-shadow(0 0 2em #01f3f4);
    transform: scale(1);
  }

  50% {
    filter: drop-shadow(0 0 1em #01f3f4);
    transform: scale(1.1);
  }
}

.icon {
  animation: waveGlow 4s ease-in-out infinite;
}

.swiper {
  width: 100%;
  height: 100%;
}

.imginmation-one,
.imginmation-tow {
  position: relative;
  overflow: hidden;
}

.imginmation-one::after,
.imginmation-one::before,
.imginmation-tow::after,
.imginmation-tow::before {
  content: '';
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
}

.imginmation-one::after {
  border-style: dashed;
  animation: animation 10s infinite linear;
  border-left: rgb(0, 255, 234) solid 5px;
}

.imginmation-one::before {
  animation: animation 10s .2s infinite linear;
  border-right: rgb(0, 255, 234) solid 5px;
}

.imginmation-tow::after {
  animation: animation-tow 10s .2s infinite linear;
  border-bottom: rgb(0, 255, 234) solid 5px;
}

.imginmation-tow::before {
  animation: animation-tow 10s .2s infinite linear;
  border-top: rgb(0, 255, 234) solid 5px;
}



@keyframes animation {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes animation-tow {
  0% {
    transition-delay: 0.5s;
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
    transition-delay: 0.5s;
  }
}

@keyframes waveColor {
  0% {
    color: #01f3f4;
  }

  25% {
    color: #ffffff;
  }

  50% {
    color: #fffff2;
  }

  75% {
    color: #aaa;
  }

  100% {
    color: #01f3f4;
  }
}

.wave-text {
  font-weight: bold;
  font-size: 3rem;
  background-size: 200% 100%;
  animation: waveColor 2s linear infinite;
}

.our-work::before {
  position: absolute;
  content: attr(data-app);
  width: calc(100% - 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 10px);
  font-weight: bold;
  color: #01f3f4;
  background-color: #000000b8;
  transition: 0.5s;
  font-size: 1.5rem;
  z-index: 20;
  transform: translateY(calc(100% + 10px));
}

.our-work:hover::before {
  transform: translateY(0);
  cursor: pointer;
}