.updown span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #40de80;
  animation: bounce 0.6s infinite alternate;
}
.updown span:nth-child(2) {
  animation-delay: 0.2s;
}
.updown span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-5px);
    opacity: 0.5;
  }
}
